.content-container.shrink {
  padding-left: 260px;
}

.content-container {
  position: relative;
  height: 100vh;
  transition: padding-left 0.3s ease;
  padding-left: 0px;
}
.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}



.App {
  text-align: center;
}

.custom-navbar {
  padding-left: 0;
  padding-right: 0;
}

.custom-container {
  padding-left: 0;
  padding-right: 0;
}

.sidebar-toggle {
  margin: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  background-color: #f0f0f0;
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column; /* Flexbox 레이아웃 추가 */
}


.sidebar.show {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-header h2 {
  margin: 0;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.sidebar-body {
  flex-grow: 1; /* Flex-grow로 남은 공간 차지 */
  overflow-y: auto;
  text-align: left;
  line-height: 2.2;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.username-display {
  margin-left: auto;
  padding-left: 20px;
}
.history-item {
  position: relative;
  padding: 10px 0px 10px 10px;
  /* transition: background-color 0.3s; */
  border-radius: 15px;
  z-index: 1;
}
.history-item:hover{
  background-color: lightgray;
  cursor: pointer;
  z-index: 2; /* Ensure hover state is above default state */
}

.ellipsis-container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.ellipsis-container:hover {
  visibility: visible;
  
}

.ellipsis-button {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-60%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: none;
}

.history-item:hover .ellipsis-button,
.history-item.active .ellipsis-button {
  display: block;
  z-index: 2;
  background-color: lightgray;
}

.options-menu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transform: translateY(-50%);
  z-index: 1000;
}

.option-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 5px 0;
  
}

.options-modal {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1000;
}

.option-button img {
  width: 16px;  /* 아이콘 크기 조절 */
  height: 16px;  /* 아이콘 크기 조절 */
  margin-right: 8px;  /* 이미지와 텍스트 사이의 간격 */
}