.content-container.shrink {
  padding-left: 260px;
}

.content-container {
  position: relative;
  height: 100vh;
  transition: padding-left 0.3s ease;
  padding-left: 0px;
}
.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}



.App {
  text-align: center;
  /* font-family: 'Noto Sans KR', 'Roboto', sans-serif; */
  font-family: "IBM Plex Mono", monospace;
}

.custom-navbar {
  padding-left: 0;
  padding-right: 0;
}

.custom-container {
  padding-left: 0;
  padding-right: 0;
}

.sidebar-toggle {
  margin: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  background-color: #f0f0f0;
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column; /* Flexbox 레이아웃 추가 */
}


.sidebar.show {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-header h2 {
  margin: 0;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.sidebar-body {
  flex-grow: 1; /* Flex-grow로 남은 공간 차지 */
  overflow-y: auto;
  text-align: left;
  line-height: 2.2;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.userInfo-wrapper {
  margin-left: auto;
  margin-right: 2vw; /* 오른쪽에 여유 공간을 주기 위해 vw 사용 */
  position: relative; /* userInfo-menu를 userIcon 아래에 배치하기 위한 상대적 위치 */
  display: inline-block;
}

.userInfo-menu {
  position: absolute;
  top: 110%; /* userIcon 바로 아래에 배치 */
  right: 0;
  background-color: #fff; /* 밝은 흰색 배경 */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* 더 부드러운 그림자 */
  border-radius: 10px; /* 더 부드러운 모서리 */
  z-index: 1000; /* z-index를 더 높게 설정 */
  width: 20vw; /* 반응형 너비 (화면 너비의 20%) */
  max-width: 280px; /* 최대 너비 */
  padding: 1.2rem; /* 적당한 여백을 주기 위해 padding 증가 */
  /* font-family: 'Noto Sans', Arial, sans-serif; 더 세련된 폰트 */
  font-size: 0.95rem; /* 글씨 크기 살짝 조정 */
  transition: all 0.3s ease; /* 부드러운 트랜지션 효과 */
}


.divider {
  height: 1px; /* 구분선 두께 */
  background-color: #ccc; /* 구분선 색상 */
  /* margin: 5px 0; 구분선 위아래 간격 */
}

.userInfo-display {
  background-color: white;
  color: rgb(97, 97, 97);
  border: none;
  padding: 10px;
  /* margin-bottom: 10px; */
  font-size: 14px;
  width: 100%;
  text-align: left;
  cursor: default;
}

.logoutBtn {
  background-color: white;
  color: rgb(255, 0, 0); /* 기본 텍스트 색상 */
  border: none;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  margin-top: 5px;
}

/* 호버 효과 */
.logoutBtn:hover {
  background-color: rgba(200, 200, 200, 0.3);
}

.history-item {
  position: relative;
  padding: 10px 0px 10px 10px;
  /* transition: background-color 0.3s; */
  border-radius: 15px;
  z-index: 1;
}
.history-item:hover{
  background-color: lightgray;
  cursor: pointer;
  z-index: 2; /* Ensure hover state is above default state */
}

.ellipsis-container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.ellipsis-container:hover {
  visibility: visible;
  
}

.ellipsis-button {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-60%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: none;
}

.history-item:hover .ellipsis-button,
.history-item.active .ellipsis-button {
  display: block;
  z-index: 2;
  background-color: lightgray;
}

.options-menu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transform: translateY(-50%);
  z-index: 1000;
}

.option-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 5px 0;
  
}

.options-modal {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1000;
}

.option-button img {
  width: 16px;  /* 아이콘 크기 조절 */
  height: 16px;  /* 아이콘 크기 조절 */
  margin-right: 8px;  /* 이미지와 텍스트 사이의 간격 */
}