.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding: 20px; 
}

.modal-content {
  background: #fff;
  padding: 24px; 
  border-radius: 12px; 
  width: 550px;
  max-width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 12px; /* 각 항목 사이에 간격을 추가 */
}

.modal-inputs label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold; 
  font-size: 20px;
  color: #333;
  margin-bottom: 0; /* 레이블과 입력 필드 사이의 간격을 제거 */
}

.modal-inputs input,
.modal-inputs select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 17px;
}

.modal-inputs input[type="number"] {
  width: 45%; /* Amino Acid Position 입력 필드의 폭을 50%로 줄임 */
  height: 50%;
}

.modal-inputs select {
  width: 45%; /* Sublineage와 Protein Region의 선택 창 너비를 60%로 설정 */
}

.modal-button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  gap: 10px;
}

.modal-close-button,
.modal-next-button {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 19px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.modal-close-button {
  background-color: #6c757d;
}

.modal-close-button:hover {
  background-color: #5a6268;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
  transform: translateY(-2px);
}

.modal-next-button {
  background-color: #0fb9af;
}

.modal-next-button:hover {
  background-color: #00a99d;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
  transform: translateY(-2px); 
}

.modal-next-button:active {
  background-color: #00a99d;
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: #dc3545;
  margin-top: 12px;
  font-size: 16px;
}

.modal-content h2 {
  font-size: 30px;
  margin-bottom: 30px; 
  text-align: center;  
}




.history-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure the modal appears above other content */
}

.history-modal-content {
  background: #ffffff; /* White background */
  padding: 20px 30px; /* More padding for better spacing */
  border-radius: 12px; /* Slightly more rounded corners */
  width: 400px; /* Slightly wider for more content space */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  text-align: center; /* Center align text */
}

.history-modal-content h2 {
  font-size: 22px; /* Slightly larger font for better readability */
  margin-bottom: 15px; /* Add some space below the heading */
  color: #333; /* Darker color for the heading */
}

.history-modal-content input {
  width: 100%; /* Full width input */
  padding: 10px; /* Padding for better spacing */
  margin-bottom: 15px; /* Space below the input field */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 4px; /* Slightly rounded input corners */
  font-size: 16px; /* Font size for input text */
}

.history-modal-buttons {
  height: 40px;
  margin-top: 20px; /* More space above buttons */
  display: flex; /* Flexbox for button alignment */
  justify-content: center; /* Center buttons horizontally */
}

.history-modal-buttons button {
  padding: 8px 16px; /* Button padding */
  margin: 0 8px; /* Spacing between buttons */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  color: white; /* White text */
  font-size: 18px; /* Font size for button text */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
}



.help-modal {
  position: fixed;
  width: 600px;
  max-width: 90%; /* 화면 크기에 따라 모달 너비 제한 */
  max-height: 90%; /* 화면 크기에 따라 모달 높이 제한 */
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #d6d6d6;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  text-align: left;
  overflow: auto; /* 모달이 화면을 넘으면 스크롤 생김 */
}

.help-modal .helpTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.help-modal .helpLevel {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.help-modal .helpContents {
  font-size: 1.1rem;
  margin-left: 15px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.help-modal .helpWarnning {
  font-size: 1.1rem;
  margin-left: 15px;
  font-weight: bold;
  color: #e74c3c;
  margin-top: 10px;
  margin-bottom: 10px;
}

.help-modal .helpImageWide {
  width: 100%;
  height: auto;
}

.help-modal .helpImage {
  width: 40%;
  height: auto;
  margin-left: 15px;
  border-radius: 8px;
  border: 2px solid #d6d6d6;
}

/* 작은 화면 대응 */
@media (max-width: 768px) {
  .help-modal {
    width: 100%;
    height: auto;
    top: 10%;
    left: 5%;
    transform: none;
  }
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}