.signup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 90vh;
  margin: auto;
  width: 100%; 
  padding: 200px; 
  box-sizing: border-box; 
}

.signupTitle{
  font-size: 30px;
  font-weight: 550;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.name-container {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name-field {
  position: relative;
  flex: 1; 
  margin-right: 10px; 
}

.name-field:last-child {
  margin-right: 0;
}

.signupInput {
  width: 100%;
  padding: 15px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.signupInput:focus {
  border-color: #0fb9af; 
}

.input-container.error .signupInput {
  border-color: red;
}

input ~ img {
  position: absolute;
  right: 15px; /* 폼 오른쪽 끝에 배치 */
  top: 50%;
  transform: translateY(-50%);
  width: 20px; 
  height: 20px;
}

.signupLabel {
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 5px;
  color: #aaa;
  transition: 0.3s;
  pointer-events: none;
}

.signupInput:focus + .signupLabel,
.signupInput:not(:placeholder-shown) + .signupLabel {
  top: 0px;
  left: 10px;
  color: #0fb9af; 
  font-size: 12px;
}

.signupInput:not(:placeholder-shown) {
  padding-top: 20px;
}

@media (max-width: 768px) {
  .signupInput {
    padding: 12px;
  }

  .signupLabel {
    font-size: 14px;
  }

  .signupInput:focus + .signupLabel,
  .signupInput:not(:placeholder-shown) + .signupLabel {
    font-size: 11px;
  }
}

.signupError{
  height: 10px;
  position: absolute;
  top: 100%;
  left: 10px;
  color: red;
  font-size: 12px;
  visibility: hidden; 
  text-align: left;
  margin-top: 5px;
}

.signupError.visible {
  visibility: visible; 
}

.SignupBtn {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #0fb9af;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.SignupBtn:hover {
  background-color: #0a8f86;
}

.gotoLoginBtn {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  padding: 0 10px;
  transition: color 0.3s ease;
}


.gotoLoginBtn:hover {
  color: #aaa;
  text-decoration: underline;
}

/* 모바일 화면에서 탭 스타일 */
@media screen and (max-width: 480px) {
  .signup-wrapper {
    padding: 0px; 
  }
}
