.App {
    display: flex;
  }
  
  .content-container {
    flex-grow: 1;
    transition: margin-left 0.3s ease; 
  }
  
  .content-container.shifted {
    margin-left: 250px; 
  }
  
  .main-content {
    margin-left: 0;
    margin-top: 60px;
    padding: 20px;
    height: calc(100vh - 60px); 
    overflow-y: auto;
  }

