.help-modal {
    position: fixed;
    width: 800px;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #d6d6d6;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    text-align: left;
}

.help-modal .helpTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.help-modal .helpLevel {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.help-modal .helpContents {
    font-size: 1.1rem;
    margin-left: 15px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.help-modal .helpWarnning {
    font-size: 1.1rem;
    margin-left: 15px;
    font-weight: bold;
    color: #e74c3c;
    margin-top: 10px;
    margin-bottom: 10px;
}

.help-modal .helpImageWide {
    width: 100%;
    height: auto;
}

.help-modal .helpImage {
    width: 40%;
    height: auto;
    margin-left: 15px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}