.google-login-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.google-login-button {
  cursor: pointer;
  width: 50%;
  max-width: 300px;
}

.modal-body-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.google-login-button-container {
  margin-top: 20px;
}

.google-login-button {
  cursor: pointer;
}

/* .next-page-container {
  position: relative;
  height: 100vh;
  transition: padding-left 0.3s ease;
  padding-left: 0px;
}

.next-page-container.shrink {
  padding-left: 260px;
} */
/* 
.next-page {
  margin-top: 1000px;
  bottom: 10px;
  right: 20px;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

.next-page {
  position: fixed !important;
  /* 우측 하단 고정을 위해 position을 fixed로 설정 */
  bottom: 20px !important;
  /* 하단에서의 거리 */
  right: 20px !important;
  /* 우측에서의 거리 */
  padding: 10px 20px;
  /* 버튼 안의 패딩 */
  color: black;
  background-color: #0fb9af;
  /* 배경색 지정 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  /* 다른 요소 위에 위치하도록 z-index 설정 */
  width: auto;
  /* 버튼 폭이 내용을 기준으로 자동 조정되도록 설정 */
  max-width: 200px;
  /* 버튼의 최대 너비를 제한 */
  max-height: 50px;
  text-align: center;
  /* 버튼 내 텍스트 중앙 정렬 */
  white-space: nowrap;
  /* 버튼 텍스트가 줄바꿈되지 않도록 설정 */
}


.next-page:hover {
  background-color: #0fb9af;
  color: white;
}

.upload-box {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  background-color: 'white';
  border-radius: 5px;
}

/* .file-input {
  display: none;
} */

.file-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.upload-icon {
  width: 50px;
  /* 원하는 크기로 조정 */
  height: auto;
  margin-bottom: 10px;
  margin-right: 15px;
}

.file-label span {
  color: #000;
  font-size: 16px;
}

.upload-box:hover {
  border-color: #0fb9af;
}


.upload-box:hover .file-label span {
  color: #0fb9af;
}

.file-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.file-list li {
  background-color: #f1f1f1;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  text-align: left;
}

.seq-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.seq-list li {
  background-color: 'white';
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  text-align: left;
  max-width: 500px;
}




/* _______________ */

.form-control:focus {
  box-shadow: none;
  border-color: #5cb85c;
}

h4 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
}

button {
  font-family: "IBM Plex Mono", monospace;
}

body {
  font-family: "IBM Plex Mono", monospace;
}

.header-bar {
  height: 60px;
  /* Set the height to 50px */
  display: flex;
  align-items: center;
  /* Center items vertically */
  justify-content: flex-start;
  /* Center items horizontally */
  font-size: 1.25rem;
  /* Optional: Adjust the font size */
  padding-left: 15px;
}

.history-icon {
  margin-right: 10px;
  /* Adjust the margin to create space between the icon and text */
  height: 24px;
  /* Adjust the height of the icon */
  width: auto;
  /* Maintain the aspect ratio */
}

.edit-icon {
  margin-right: 0px;
  /* Adjust the margin to create space between the icon and text */
  height: 24px;
  /* Adjust the height of the icon */
  width: auto;
  /* Maintain the aspect ratio */
}


.logo-text {
  margin-left: 15px;
}

.logged-out {
  color: darkgray;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  /* 마우스 커서를 포인터로 변경 */
  margin: 0 auto;
  /* 중앙 정렬 */
}

.logged-out:hover {
  color: gray;
  /* 마우스 올렸을 때 색깔 조금 진하게 */
}

.RS-id {
  text-align: left;
  /* 좌측 정렬 설정 */
  font-weight: 500;
  font-size: 19px;
}

.done-button {
  background-color: #0fb9af;
  border: none;
  border-radius: 8px;
  padding: 10px 17px;
  font-size: 16px;
  width: 150px;
  height: 38px;
  /* 높이를 입력 필드와 동일하게 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  margin-left: 20px;
}

.input-field {
  height: 38px;
  /* 높이를 버튼과 동일하게 설정 */
}

.done-button:hover {
  background-color: #0c9e94;
}

.form-label {
  text-align: left;
  /* 좌측 정렬 설정 */
  display: block;
  /* 기본적으로 form-label은 inline 요소이므로 block으로 설정 */
}

/* 다솔님이 만든 코드 -----------시작---------------------*/
.upload-box2 {
  border: 1.9px solid #dfdfdf;
  padding: 20px;
  text-align: center;
  position: relative;
  border-radius: 5px;
  width: 63%;

}

.file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}

.upload-text {
  font-size: 16px;
  color: #666;
}

.form-group {
  margin-bottom: 20px;
}

.delete-icon,
.chevron-icon {
  color: #646464;
  margin: 0px 5px 0px 5px;
  font-size: 15px;
}

.sequence-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.add-sequence-button {
  display: flex;
  font-size: 16px;
  background-color: white;
  border: none;
  cursor: pointer;
  color: rgb(55, 55, 55);
}

textarea {
  border-radius: 5px;
  background-color: #f1f1f1;
  width: 70%;
  height: 85px;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  font-family: 'Roboto';
}

textarea::placeholder {
  padding: 3px;
  color: #92929d;
  /* placeholder 색상 변경 */
}

.text-left {
  text-align: left;
}

textarea {
  width: 100%;
}

.uploaded-file {
  text-align: left;
  margin-top: 5px;
  display: flex;
  align-items: center;

}

.uploaded-file span {
  flex-grow: 1;
  margin-right: 10px;
  color: #333;
}

.delete-icon {
  color: #646464;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
  /* 파일명과 삭제 아이콘 사이의 간격 조정 */
}


/* response message ( parkki ) */
.response-message {
  white-space: pre-line;
  text-align: left;
  margin-left: 20px;
}

.response-message .key {
  font-weight: bold;
}

.response-message .value {
  display: inline;
}

.metadata {
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: bold;
}

.metadata2 {
  margin-left: 20px;
}

/* response message ( parkki ) */

svg {
  /* 비활성화하고 싶은 속성에 값을 설정하지 않으면 기본값으로 돌아감 */
  display: inline !important;
  width: auto !important;
  min-width: auto !important;
}

.next-button {
  position: fixed;
  bottom: 40px;
  /* 하단에서의 거리 */
  right: 50px;
  /* 우측에서의 거리 */
  background-color: #0fb9af;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 48px;
  font-size: 20px;
}

.next-button:hover {
  background-color: #0c9e94;
}

.next-button:disabled {
  background-color: #d3d3d3;
  color: #353535;
}