.google-login-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.google-login-button {
  cursor: pointer;
  width: 50%;
  max-width: 300px;
}

.modal-body-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.google-login-button-container {
  margin-top: 20px;
}

.google-login-button {
  cursor: pointer;
}

/* .next-page-container {
  position: relative;
  height: 100vh;
  transition: padding-left 0.3s ease;
  padding-left: 0px;
}

.next-page-container.shrink {
  padding-left: 260px;
} */

.next-page {
  margin-top: 1000px;
  bottom: 10px;
  right: 20px;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-page:hover {
  background-color: #0fb9af;
  color: white;
}

/* .upload-box {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
} */

.upload-box {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  background-color: 'white';
  border-radius: 5px;
}

/* .file-input {
  display: none;
} */

.file-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.upload-icon {
  width: 50px; /* 원하는 크기로 조정 */
  height: auto;
  margin-bottom: 10px;
  margin-right: 15px;
}

.file-label span {
  color: #000;
  font-size: 16px;
}

.upload-box:hover {
  border-color: #0fb9af;
}


.upload-box:hover .file-label span {
  color: #0fb9af;
}

.file-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}
.file-list li {
  background-color: #f1f1f1;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  text-align: left;
}
.seq-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}
.seq-list li {
  background-color: 'white';
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  text-align: left;
  max-width: 500px;
}




/* _______________ */

.form-control:focus {
  box-shadow: none;
  border-color: #5cb85c;
}

h4 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
}

button {
  font-family: "IBM Plex Mono", monospace;
}

body {
  font-family: "IBM Plex Mono", monospace;
}

.header-bar {
  height: 60px; /* Set the height to 50px */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: flex-start; /* Center items horizontally */
  font-size: 1.25rem; /* Optional: Adjust the font size */
  padding-left: 15px;
}

.history-icon {
  margin-right: 10px; /* Adjust the margin to create space between the icon and text */
  height: 24px; /* Adjust the height of the icon */
  width: auto; /* Maintain the aspect ratio */
}

.edit-icon {
  margin-right: 0px; /* Adjust the margin to create space between the icon and text */
  height: 24px; /* Adjust the height of the icon */
  width: auto; /* Maintain the aspect ratio */
}


.logo-text {
  margin-left: 15px;
}

.logged-out {
  color: darkgray;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;  /* 마우스 커서를 포인터로 변경 */
  margin: 0 auto;  /* 중앙 정렬 */
}

.logged-out:hover {
  color: gray;  /* 마우스 올렸을 때 색깔 조금 진하게 */
}

.RS-id {
  text-align: left; /* 좌측 정렬 설정 */
}

.done-button {
  background-color: #0fb9af;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  width: 150px;
  height: 38px; /* 높이를 입력 필드와 동일하게 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field {
  height: 38px; /* 높이를 버튼과 동일하게 설정 */
}

.done-button:hover {
  background-color: #0c9e94;
}

.form-label {
  text-align: left; /* 좌측 정렬 설정 */
  display: block; /* 기본적으로 form-label은 inline 요소이므로 block으로 설정 */
}

/* 다솔님이 만든 코드 -----------시작---------------------*/
.upload-box2 {
  border: 1.9px solid #dfdfdf;
  padding: 20px;
  text-align: center;
  position: relative;
  border-radius: 5px;
  width: 63%;

}

.file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}

.upload-text {
  font-size: 16px;
  color: #666;
}

.form-group {
  margin-bottom: 20px;
}

.delete-icon, .chevron-icon{
  color: #646464;
  margin: 0px 5px 0px 5px;
  font-size: 15px;
}

.sequence-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.add-sequence-button {
  display: flex;
  font-size: 16px;
  background-color:white;
  border: none;
  cursor: pointer;
  color: rgb(55, 55, 55);
}

textarea {
  border-radius: 5px;
  background-color: #f1f1f1;
  width: 70%;
  height: 85px;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none; 
  overflow: auto; 
  font-family:'Roboto';
}

textarea::placeholder {
padding: 3px;
color: #92929d; /* placeholder 색상 변경 */
}

.text-left {
  text-align: left;
}

textarea {
  width: 100%;
}