.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding: 20px; 
}

.modal-content {
  background: #fff;
  padding: 24px; 
  border-radius: 12px; 
  width: 600px;
  max-width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 12px; /* 각 항목 사이에 간격을 추가 */
}

.modal-inputs label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold; 
  font-size: 20px;
  color: #333;
  margin-bottom: 0; /* 레이블과 입력 필드 사이의 간격을 제거 */
}

.modal-inputs input,
.modal-inputs select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 17px;
}

.modal-inputs input[type="number"] {
  width: 50%; /* Amino Acid Position 입력 필드의 폭을 50%로 줄임 */
  height: 50%;
}

.modal-inputs select {
  width: 60%; /* Sublineage와 Protein Region의 선택 창 너비를 60%로 설정 */
}

.modal-button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  gap: 10px;
}

.modal-close-button,
.modal-next-button {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 19px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.modal-close-button {
  background-color: #6c757d;
}

.modal-close-button:hover {
  background-color: #5a6268;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
  transform: translateY(-2px);
}

.modal-next-button {
  background-color: #0fb9af;
}

.modal-next-button:hover {
  background-color: #00a99d;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
  transform: translateY(-2px); 
}

.modal-next-button:active {
  background-color: #00a99d;
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: #dc3545;
  margin-top: 12px;
  font-size: 16px;
}

.modal-content h2 {
  font-size: 30px;
  margin-bottom: 30px; 
  text-align: center;  
}
