/* mRNAdesign.css */
.detail {
  margin-top: 15px;
}

.mrna-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  min-width: 1190px;
  margin: 20px auto;
  display: flex;
  text-align: left;
}

.mrna-column {
  flex: 1;
  padding: 10px;
}

.mrna-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}


.mrna-sequence {
  font-family: monospace;
  font-size: 14px;
  background-color: #eee;
  padding: 10px;
  border-radius: 4px;
  overflow-wrap: break-word;

  width: 540px;

  margin-bottom: 15px;
}

.mrna-subtitle {
  font-size: 20px;
  color: #555;
  margin-top: 30px;
  margin-bottom: 5px;
}

.mrna-subtitle-margintop{
  font-size: 20px;
  color: #555;
  margin-top: 60px;
  margin-bottom: 5px;
}

.mrna-value {
  font-size: 18px;
  color: #333;
}

.amino-acid-table {
  width: 80%; /* 테이블을 컬럼 너비에 맞춤 */
  border-collapse: collapse;
  margin-top: 50px;
  margin-left: 20px;
}

.amino-acid-table th,
.amino-acid-table td {
  padding: 10px;
  text-align: center; /* 중앙 정렬 */
  border: 1px solid #ddd;
}

.amino-acid-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* 파란색 텍스트 스타일 */
.detail a {
  color: #0fb9af;
  cursor: pointer;
  font-weight: 700;
}

.show-toggle {
  color: #0fb9af;
  cursor: pointer;
  font-weight: 700;
}


.mrna-structure {
  font-family: monospace;
  font-size: 14px;
  background-color: #eee;
  padding: 10px;
  border-radius: 4px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  width: 540px;

  margin-bottom: 15px;
}