.ProteinSeq {
  text-align: center;
}

.sequence-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  position: relative;
}

.sequence-chunk {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 50px; 
}

.sequence {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
}

.sequence-label {
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 20px; /* .sequence-box의 높이와 맞추기 */
}

.sequence-boxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sequence-line {
  display: flex;
  flex-direction: row;
}

.sequence-box {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  font-size: 14px;
  background-color: #535353;
  color: white;
  transition: background-color 0.3s, border-color 0.3s;
}

.sequence-box.gap,
.sequence-box.different.gap {
  background-color: #ffffff; /* '-' 문자가 있는 박스의 배경색을 흰색으로 설정 */
  color: black;
}

.sequence-box.different {
  background-color: #ffc700;
  color: #C11010;
}



.sequence:hover .sequence-box {
  background-color: #444;
  border-color: #000000;
  color: #ffffff;
}



.sequence-box:empty {
  background-color: white; /* 범위를 벗어난 경우 흰색 칸 */
}

.sequence-indexes {
  display: flex;
  justify-content: space-between; /* 인덱스들 사이의 간격을 균일하게 */
  width: 1000px; /* 고정 너비 설정 */
  margin-top: 5px; /* 인덱스 위에 약간의 공간 추가 */
  font-size: 15px;
}

.sequence-index {
  text-align: right; /* 텍스트를 오른쪽에 정렬 */
}

.protein-sequence-container {
  padding-left: 70px; 
}

.region-selector label {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}

.region-selector select {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  padding: 5px 10px;
  border: 2px solid #888;
  border-radius: 5px;
  background-color: #f7f7f7;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.region-selector select:hover {
  border-color: #555;
}

.region-selector select:focus {
  border-color: #02a59a;
  box-shadow: 0 0 5px #008d84;
  background-color: #fff;
}

.stacked-bar {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  position: relative;
}

.stacked-bar-segment {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.stacked-bar-label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: medium;
  color: black;
  text-align: center;
  white-space: nowrap;
}

.custom-tooltip {
  position: fixed;
  background-color: #ffffff;
  border-style: solid;
  border-color: #0FB9AF;
  border-width: 2.7px;
  color: #000000;
  padding: 10px;
  border-radius: 6px;
  font-size: 12px;
  z-index: 1000;
  pointer-events: none; 
  white-space: nowrap;
}

.stacked-bar-container {
  padding: 90px 100px 60px 130px;
}
