.ProteinSeq {
    text-align: center;
  }
  
  .sequence-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
  }
  
  .sequence-chunk {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .sequence {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer; /* Add cursor pointer for clickability */
  }
  
  .sequence-label {
    width: 200px;
    text-align: left;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .sequence-boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .sequence-line {
    display: flex;
    flex-direction: row;
  }
  
  .sequence-box {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cccccc;
    font-size: 14px;
    background-color: #535353;
    color: white;
  }
  
  .sequence-box.gap {
    background-color: yellow;
    color: black;
  }
  
  .sequence-indexes {
    display: flex;
    justify-content: flex-start;
    margin-left: 210px; /* Adjust according to sequence-label width */
    margin-top: 5px; /* Add some space above the index */
  }
  
  .sequence-index {
    width: 20px;
    text-align: center;
    margin: 1px;
  }
  
  .sequence-details {
    margin: 20px;
  }
  
  .sequence-details h2 {
    text-align: left;
  }
  
  
  