.ProteinSeq {
  text-align: center;
}

.sequence-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  position: relative;
}

.sequence-chunk {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 50px; 
}

.sequence {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.sequence-label {
  width: auto;
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 20px; /* .sequence-box의 높이와 맞추기 */
}

.sequence-boxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sequence-line {
  display: flex;
  flex-direction: row;
}

.sequence-box {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  font-size: 14px;
  background-color: #535353;
  color: white;
}

.sequence-box.gap {
  background-color: yellow;
  color: black;
}

.sequence-box.different {
  background-color: #ffc700;
  color: #C11010;
}

.sequence-box:hover {
  background-color: #666;
  border-color: #999;
}


.sequence:hover .sequence-box {
  background-color: #444;
  border-color: #888;
}

.sequence-indexes {
  display: flex;
  justify-content: space-between; /* 인덱스들 사이의 간격을 균일하게 */
  width: 1000px; /* 고정 너비 설정 */
  margin-top: 5px; /* 인덱스 위에 약간의 공간 추가 */
  letter-spacing: -1.2px;
  font-size: 15px;
}

.sequence-index {
  flex-grow: 1; /* 각 인덱스가 동일한 비율로 공간을 차지하도록 설정 */
  text-align: right; /* 텍스트를 중앙에 정렬 */
  margin: 0; /* 여백 제거 */
  min-width: 0; /* 최소 너비를 0으로 설정해 숫자의 길이 무시 */
  overflow: visible; /* overflow를 visible로 변경해 인덱스가 보이도록 */
}

.sequence-details {
  margin: 20px;
}

.sequence-details h2 {
  text-align: left;
}

.sequence-full {
  font-family: monospace;
  white-space: pre-wrap;
  line-height: 1.5;
}

.sequence-char {
  display: inline-block;
  margin: 2px;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

.selected {
  background-color: #f0f8ff;
}

.next-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  margin: 0; 
  padding: 0;
  cursor: pointer;
  z-index: 1000;    

}


.next-button a {
  text-decoration: none;
  background-color: #0FB9AF;
  color: #f0f8ff; 
  padding: 10px 15px;
  border-radius: 10px; 
}

.next-button button {
  background-color: transparent; 
  border: 1px;
  padding: 0; 
  margin: 0; 
  cursor: pointer; 
  
}

.chart-container {
  width: 100%; 
  max-width: 1500px; 
  height: 500px; 
  display: flex; 
  justify-content: center;
}

.protein-sequence-container {
  padding-left: 70px; 
}