.ProteinSeq {
  text-align: center;
}

.sequence-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  position: relative;
  width: 1000px;
}


.sequence-chunk {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sequence {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
}

.sequence-label {
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 20px;
}

.sequence-boxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sequence-line {
  display: flex;
  flex-direction: row;
}

.sequence-box {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  font-size: 14px;
  background-color: #535353;
  color: white;
  transition: background-color 0.3s, border-color 0.3s;
}

.sequence-box.gap,
.sequence-box.different.gap {
  background-color: #ffc700;
  color: black;
}

.sequence-box.different {
  background-color: #ffc700;
  color: #C11010;
}



.sequence:hover .sequence-box {
  background-color: #444;
  border-color: #000000;
  color: #ffffff;
}



.sequence-box:empty {
  background-color: white;
}

.sequence-indexes {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-top: 5px;
  font-size: 15px;
}

.sequence-index {
  text-align: right;
}

.region-selector-wrapper {
  position: relative;
  width: 100%;
  max-width: 1000px;
  /* Ensure it doesn't exceed the width of the sequence-container */
  margin: 0 auto;
  /* Center the container within its parent */
}

.region-selector-container {
  position: absolute;
  right: -70px;
  top: -60px;
  /* Align to the right of the .region-selector-wrapper */
  display: flex;
  align-items: center;
}


.region-selector label {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}

.region-selector select {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  padding: 5px 10px;
  border: 2px solid #888;
  border-radius: 5px;
  background-color: #f7f7f7;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.region-selector select:hover {
  border-color: #555;
}

.region-selector select:focus {
  border-color: #02a59a;
  box-shadow: 0 0 5px #008d84;
  background-color: #fff;
}

.stacked-bar {
  display: flex;
  width: 1170px;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  position: relative;
  box-sizing: border-box;
}

.stacked-bar-segment {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.stacked-bar-label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: medium;
  color: black;
  text-align: center;
  white-space: nowrap;
}

.custom-tooltip {
  position: fixed;
  background-color: #ffffff;
  border-style: solid;
  border-color: #0FB9AF;
  border-width: 2.7px;
  color: #000000;
  padding: 10px;
  border-radius: 6px;
  font-size: 12px;
  z-index: 1000;
  pointer-events: none;
  white-space: nowrap;
}

.stacked-bar-container {
  padding: 90px 0 60px 0;
  display: flex;
  justify-content: center;
}

.help-icon {
  margin-right: 10px;
  width: 35px;
  height: 35px;
}