.reference3D {
width: 50%;
margin: 0 auto;
padding: 50px;
margin-left: 50px;

}

.reference3D h4 {
text-align: left;
margin-bottom: 20px; 
}

.reference3D h5 {
text-align: right;
margin-top: 20px; 
color: #999;
}
